__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/
.pytest_cache/
.ruff_cache/
.mypy_cache/
build/
dist/
*.egg-info/
*.spec
*.log
.DS_Store
Thumbs.db
*.zip
*.7z
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.lz4
*.zst
